= simple_form_for(@story) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :status
    = f.input :order_by
    = f.input :user_id, :collection => User.all

  .form-actions
    = f.button :submit
