%h1 Listing stories

#filters
  = simple_form_for @q, :url => stories_path, :html => {:method => :get} do |f|
    = f.input :user_id_eq, :collection => story_users
    = f.input :status_eq, :collection => story_states
%table.table
  %tr
    %th= Story.human_attribute_name("title")
    %th= Story.human_attribute_name("description")
    %th= Story.human_attribute_name("status")
    %th= Story.human_attribute_name("order_by")
    %th= Story.human_attribute_name("user")
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= story.title
      %td= story.description
      %td
        = story.status_name
        - story.status_transitions.each do |t|
          = form_for(story, :url => change_status_story_path(story), :method => :put) do |f|
            = f.hidden_field :status_event, :value => t.event
            = f.button t.event.to_s.humanize
      %td= story.order_by
      %td= story.user.name
      %td= link_to 'Show', story
      %td= link_to 'Edit', edit_story_path(story)
      %td= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Story', new_story_path
