%p#notice= notice

%p
  %b Title:
  = @story.title
%p
  %b Description:
  = @story.description
%p
  %b Status:
  = @story.status
%p
  %b Orderby:
  = @story.orderby
%p
  %b User:
  = @story.user_id

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
