%h2 Story

%p#notice= notice

%p
  %b Title:
  = @story.title
%p
  %b Description:
  = @story.description
%p
  %b Status:
  = @story.status
%p
  %b Order by:
  = @story.order_by
%p
  %b User:
  = @story.user_id

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path

%h2 Comments
- @story.story_comments.each do |c|
  .comment-item= html_escape c.comment

%h2 New comment
= simple_form_for [@story, @story.story_comments.build] do |f|
  = f.error_notification

  .form-inputs
    = f.input :comment

  .form-actions
    = f.button :submit
