%h2 Story

%p#notice= notice

%p
  %b= Story.human_attribute_name("title")
  = @story.title
%p
  %b= Story.human_attribute_name("description")
  = @story.description
%p
  %b= Story.human_attribute_name("status")
  = @story.status
%p
  %b= Story.human_attribute_name("order_by")
  = @story.order_by
%p
  %b= Story.human_attribute_name("user")
  = @story.user.name

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path

%h2 Comments
- @story.comments.each do |c|
  - # Чтобы новый коммент не попадал в список
  - unless c.new_record?
    .comment-item.well.well-small
      .comment-content= html_escape c.comment
      .comment-details.pull-right.muted= "Posted by #{c.user.name} #{time_ago_in_words c.created_at} ago"
      .clearfix

%h2 New comment

- # Чтобы выводились ошибки формы
= simple_form_for @story_comment, :url => story_comments_path(@story) do |f|
  = f.error_notification

  .form-inputs
    = f.input :comment

  .form-actions
    = f.button :submit
